@import "tailwindcss";

:root{
  --bg:#09090b;
  --surface:#18181b;
  --card:#27272a;
  --primary:#8b5cf6;
  --secondary:#22d3ee;
  --text:#fafafa;
  --muted:#a1a1aa;
  --success:#22c55e;
  --danger:#ef4444;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  background:var(--bg);
  color:var(--text);
  font-family:Inter,sans-serif;
}